#reset{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white ;
    position: absolute; top : 5% ; left: 60%;
}

#reset:hover{
    background: linear-gradient(yellow,orange);
}